In [1]:
# Download the dataset and import it into Python
import xlrd
import pandas as pd
shark_attacks_df = pd.read_excel('GSAF5.xls')
shark_attacks_df.head()


# shark_attacks_df.rename(columns='Species':'species')
shark_attacks_df.columns

#rename to lower case and add _

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [2]:

# Cleaning DataFrame
#Chose the columns we will be working with
shark_attacks_df = shark_attacks_df[['Date', 'Year', 'Type', 'Country', 'State', 'Location','Activity','Sex', 'Age', 'Injury','Time','Species ']] 
shark_attacks_df

#Drop rows with year < 2010

,Date,Year,Type,Country,State,Location,Activity,Sex,Age,Injury,Time,Species
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'"
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,M,NaN,Shoulder bitten,06h30,Blacktip reef shark
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,F,29,Right leg bitten,20h00,Bull shark
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,M,10,Right leg injured,16h00,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,M,64,Leg bitten,13h00,White shark
...,...,...,...,...,...,...,...,...,...,...,...,...
6960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import poor_bruce as pb
# clean columns titles --> remove spaces & lower cases
shark_attacks_df=pb.clean_columns_titles(shark_attacks_df)
# drop the null value rows
shark_attacks_df=pb.drop_null_values(shark_attacks_df)
display(shark_attacks_df.head(20))

,date,year,type,country,state,location,activity,sex,age,injury,time,species
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'"
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,M,NaN,Shoulder bitten,06h30,Blacktip reef shark
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,F,29,Right leg bitten,20h00,Bull shark
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,M,10,Right leg injured,16h00,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,M,64,Leg bitten,13h00,White shark
5,05-Jan-2024,2024.0,Provoked,SOUTH AFRICA,Eastern Cape Province,Papiesfontein,Fishing,M,62,Provoked incident. Lacerations and puncture wo...,NaN,Raggedtooth shark
6,30 Dec-2023,2023.0,Unprovoked,USA,Hawaii,"Baby Beach, Maui",Surfing,M,39,FATAL,11h12,NaN
7,29 Dec-2023,2023.0,Unprovoked,MEXICO,Sonora,"Tojahui Beach, Yavaros, Huatabampo",Free diving,M,22,FATAL,13h00,White shark
8,28 Dec-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Ethel Beach,Surfing,M,15,FATAL,13h30,"White shark, 13'"
9,25 Dec-2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,Old Bar,Surfing,M,16,Injury to right thigh,16h30,NaN
10,24-Dec-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Wedge Island,Foil Boarding,M,46,Puncture wounds to right ankle,15h00,Broze whaler?
11,18 Dec-2023,2023.0,Unprovoked,NEW ZEALAND,South Island,Riverton,Wading,F,21,Significant injury to leg,02h00,Sevengill shark
12,14 Dec-2023,2023.0,Questionable,MEXICO,Guerrero,"Playa Quieta, Ixtapa, Zihuatanejo",Swimming,M,66,FATAL,09h15,Shark involment not confirmed
13,14 Dec-2023,2023.0,Questionable,MEXICO,Guerrero,"Playa Quieta, Ixtapa, Zihuatanejo",Swimming,F,52,Injury to lower left leg,Early Morning,Shark involment not confirmed
14,08 Dec-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,1770,Snorkeling,M,20,Leg severely injured,16h32,NaN
15,04 Dec-2023,2023.0,Unprovoked,BAHAMAS,New Providence Isoad,Sandals Resort,Paddle boarding,F,44,FATAL,11h00,NaN
16,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,F,26,FATAL,Morning,NaN
17,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,M,21,Puncture wounds to right upper arm,11h30,1.8m bull shark
18,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,F,47,FATAL,10h30,NaN
19,10 Nov-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Port Noarlunga,Free diving,F,32,Injuries to scalp and face,13h20,NaN

In [8]:
# check null values left
shark_attacks_df.isnull().sum()

date           0
year           2
type          18
country       50
state        482
location     565
activity     585
sex          579
age         2993
injury        35
time        3525
species     3132
dtype: int64

In [4]:
# From year 2010 - present  ---NURIA



# standardise the date,year,country,
# make age group for child teen adult senior

In [5]:

# country  --- Ste